body{
    background-color: beige;
}

.preamble{
    display: none; 
    /* color: beige; */
    /* opacity: 0; */
}

h1,
h2,
h3,
h4{
    text-align: center;
    padding: 10px,10px,10px,10px;
    color: black;
    text-decoration: overline;
    background-image: linear-gradient(red,blue,white,yellow,green);
}